[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/Marco4413/fmt
	shallow = true
[submodule "libs/lsp-framework"]
	path = libs/lsp-framework
	url = https://github.com/Marco4413/cpp-lsp-framework
	shallow = true
[submodule "libs/argue"]
	path = libs/argue
	url = https://github.com/Marco4413/Argue
	shallow = true
[submodule "libs/cppdap"]
	path = libs/cppdap
	url = https://github.com/Marco4413/cppdap
